.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(241, 222, 114);
}
.Nav-Link {
    text-decoration: none;
    color: black;
}

.Nav-Link1 {
    width: 65px;
    border: none;
    background-color: white;
    padding-left: 0;
}

