.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(206, 238, 243);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Navbar Stylling*/
.Nav-Link {
    text-decoration: none;
    color: black;
}

.Nav-Link1 {
    width: 65px;
    border: none;
    background-color: white;
    padding-left: 0;
}

/*About Page Stylling*/
.about-wrapper {
    padding: 20px 40px;
    background-color: white;
}
.about-text {
    text-align: center;
    background-color: rgb(211, 229, 236);
    padding: 30px 50px;
}
.about-btn {
    padding: 5px 15px;
    margin-top: 10px;
    border: none;
    background-color: rgb(18, 107, 143);
    color: white;
    font-weight: bold;
    border-radius: 8px;
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
    .about-head {
        padding-top: 15%;
    }
}

/*Card Stylling*/
.card-body {
    background-color: white;
}

@media only screen and (man-width: 400px) {
    .product {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (man-width: 800px) {
    .product {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.main {
    width: 100%;
    height: 100vh;

    margin: 0 auto;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px;
    color: orange;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}
.overlay {
    position: absolute;
    /* top: 0; */
    height: auto;
    margin: 0 auto;
    left: 0;
    width: 100%;
    /* height: 100%; */
    background-color: rgba(0, 0, 0, 0);
}
